*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: "Jost", sans-serif;
}

:root {
	--bg-color: #1A2130;
	--text-color: #fff;
	--main-color:  #E7D4B5;
	--other-color:  #858585;
	--h1-font: 5rem;
	--p-font: 1.8rem;
}

html {
	font-size: 60%;
	overflow-x: hidden;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	padding: 4rem 12% 4rem;
	background: rgba(0, 0, 0, 0.4);
	background-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

.header img {
	width: 10vw;
}

.logo {
	color: var(--text-color);
	font-size: 5rem;
	font-weight: 800;
	cursor: pointer;
	transition: 0.3s ease;
	text-shadow: 0 0 25px var(--other-color);
}

.logo:hover {
	transform: scale(1.1);
}

.navbar a {
	font-size: var(--p-font);
	font-weight: 500;
	color: var(--text-color);
	margin-left: 4rem;
	transition: 0.3s ease;
	border-bottom: 3px solid transparent;
	display: inline-block;
}

.navbar a:hover, 
.navbar a.active {
	color: var(--main-color);
	transform: translateY(-6px);
	border-bottom: 3px solid var(--main-color);
}

#menuicon {
	font-size: 3.6rem;
	color: var(--main-color);
	display: none;
	cursor: pointer;
	z-index: 10001;
}

section {
	min-height: 100vh;
	padding: 3rem 10% 3rem;
}

.home {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	flex-direction: row;
}

.home-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	justify-content: center;
	margin-top: 3rem;
}

span {
	color: var(--main-color);
}

.logo span {
	color: var(--main-color);
}

.home-content h1 {
	font-size: var(--h1-font);
	line-height: 1.1;
	font-weight: 700;
	margin: 20px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: -1px -1px 0px #000, 7px 7px 0px #000, 9px 9px 0px #00000055;
}

.herotext h1 span {
	color: var(--main-color);
}

.home-content h6 {
	font-size: 22px;
	font-weight: 600;
}

.herotext h6 span {
	color: var(--main-color);
}

.home-content h4 {
	font-family: cursive;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 30px;
}

.home-content p {
	font-size: var(--p-font);
	color: var(--other-color);
	margin-bottom: 20px;
	line-height: 2;
}

.my-img {
	border-radius: 50%;
}

.my-img img {
	position: relative;
	top: 3rem;
	width: 25vw;
	border-radius: 50%;
	box-shadow: 0 0 25px var(--main-color);
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.my-img img:hover {
	box-shadow: 0 0 25px var(--main-color), 
				0 0 50px var(--main-color), 
				0 0 100px var(--main-color);
}

.social-icons a {
	display: inline-block;
	font-size: 24px;
	color: var(--text-color);
	margin-right: 20px;
	transition: all .6s ease;
	margin-bottom: 40x;
	justify-content: center;
}

.social-icons a:hover {
	transform: rotate3d(0, 0, 1, 360deg);
	color: var(--main-color);
}

.btn {
	display: inline-block;
	padding: 15px 30px;
	background: transparent;
	color: var(--text-color);
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .05em;
	border-radius: 30px;
	border: 2px solid var(--main-color);
	box-shadow: 2px 2px var(--main-color);
	transition: al .6s ease;
	margin-right: 30px;
}

.btn:hover {
	background: var(--main-color);
	color: var(--text-color);
}

.btn-group {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
	background-color: black;
	color: var(--main-color);
	border: 2px solid var(--main-color);
	box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
	box-shadow: 0 0 25px var(--main-color);
	background-color: var(--main-color);
	color: black;
}
/*
.scroll {
	position: absolute;
	top: 92%;
	left: 47%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}

.scroll a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-color);
	letter-spacing: .05em;
	transition: all .6s ease;
}

.scroll i {
	font-size: 16px;
	margin-right: 9px;
}

.scroll a:hover {
	transform: translateY(-7px);
	color: var(--main-color);
}
*/
/*@keyframes cursor {
	to {
		border-left: 2px solid var(--text-color);
	}
}*/

.heading {
	font-size: 8rem;
	text-align: center;
	margin: 5rem 0;
}

.about-content {
	display: flex;
	align-items: flex-start;
	padding: 1rem;
}

.about-content img {
	width: 25vw;
	border-radius: 20%;
}

.about-content div {
	padding-left: 10%;
}

.about-content h3 {
	font-size: 5rem;
}

.about-content p {
	font-size: 1.6rem;
	margin: 2rem 0.3rem;
}

.about-content h5 {
	font-family: "Jost", sans-serif;
	font-family: cursive;
	font-size: 1.4rem;
	color: var(--other-color);
	margin-bottom: 20px;
	line-height: 2;
}

.content-box {
	padding: 1.5rem;
	border-radius: 2rem;
	text-align: center;
	background-color: var(--bg-color);
	border: 1px solid gray;
	width: 400px;  
	height: 160px; 
}

.content-box a {
	font-size: 35px;
	justify-content: center;
}

.content-box h2 {
	font-size: 2rem;
}

.content-box p {
	font-size: 1.6rem;
	margin: 1rem 0.3rem;
}

.education {
	padding: 100px 15px;
	background: var(--bg-color);
}

.education h2 {
	margin-bottom: 5rem;
}

.timeline-items {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.timeline-items::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 100%;
	background-color: var(--main-color);
	left: calc(50% - 1px);
}

.timeline-item {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-item:last-child {
	margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
	padding-right: calc(50% + 30px);
	text-align: right;
}

.timeline-item:nth-child(even) {
	padding-left: calc(50% + 30px);
}

.timeline-dot {
	height: 21px;
	width: 21px;
	background-color: var(--main-color);
	box-shadow: 0 0 25px var(--main-color), 
				0 0 50px var(--main-color);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top: 10px;
}

.timeline-date {
	font-size: 20px;
	font-weight: 800;
	color: white;
	margin: 6px 0 15px;
}

.timeline-content {
	background-color: var(--bg-color);
	border: 3px solid var(--main-color);
	padding: 30px 50px;
	border-radius: 4rem;
	box-shadow: 0 0 10px var(--main-color);
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.timeline-content:hover {
	transform: scale(1.05);
	box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
	font-size: 20px;
	color: white;
	margin: 0 0 10px;
	text-align: left;
	font-weight: 500;
}

.timeline-content p {
	color: white;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
	font-family: sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
}

.services {
	background: var(--bg-color);
	color: black;
}

.services h2 {
	margin-bottom: 5rem;
	color: white;
}

.services-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}

.service-box {
	background-color: var(--main-color);
	height: 300px;
	border-radius: 3rem;
	border: 5px solid transparent;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.service-box:hover {
	background: white;
	color: black;
	border: 5px solid var(--main-color);
	transform: scale(1.03);
}

.service-box .service-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	max-height: 200px;
	justify-content: left;
	align-items: baseline;
	padding: 5rem 5rem;
}

.service-info h4 {
	font-size: 3rem;
	font-weight: 800;
	line-height: 2;
}

.service-info p {
	font-size: 1.6rem;
	font-weight: 600;
	max-height: 100px;
	line-height: 1.7;
	margin: auto;
}

.project {
	background: var(--bg-color)center no-repeat;
	background-size: cover;
}

.project-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	margin: 5rem 0;
	gap: 3rem;
	row-gap: 5rem;
}

.project-card {
	height: 300px;
	max-width: 450px;
	background-color: rgba(0, 0, 0, 3.0);
	background-filter: blur(30px);
	border: 2px solid var(--main-color);
	border-radius: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 2rem;
	padding: 5rem;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 0 5px var(--main-color);
	transition: 0.4s ease;
}

.project-card:hover {
	box-shadow: 0 0 25px var(--main-color),
				0 0 50px var(--main-color);
	transform: scale(1.02);
}

.project-card img {
	max-width: 18vw;
	object-fit: cover;
}

.project-card h3 {
	font-size: 3rem;
}

.project-card p {
	font-size: 1.6rem;
}

.btn2 {
	display: inline-block;
	padding: 15px 30px;
	background: transparent;
	color: var(--text-color);
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .05em;
	border-radius: 30px;
	border: 2px solid var(--main-color);
	box-shadow: 2px 2px var(--main-color);
	transition: al .6s ease;
}

.contact {
	background-color: var(--bg-color);
}

.contact h2 {
	margin-bottom: 3rem;
	color: white;
}

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	margin: 5rem auto;
	text-align: center;
}

.contact form .input-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: 2.5rem;
	font-size: 1.8rem;
	color: var(--text-color);
	background: var(--bg-color);
	border-radius: 2rem;
	border: 2px solid var(--main-color);
	margin: 1.5rem 0;
	resize: none;
}

.contact form .btn{
	margin-top: 2rem;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 40px 0;
	background-color: var(--bg-color);
}

.footer .social {
	text-align: center;
	padding-bottom: 25px;
	color: var(--main-color);
}

.footer .social a {
	font-size: 25px;
	color: var(--main-color);
	border: 2px solid var(--main-color);
	width: 42px;
	height: 42px;
	line-height: 42px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0 10px;
	transition: 0.3s ease-in-out;
}

.footer .social a:hover {
	transform: scale(1.2)translateY(-10px);
	background-color: var(--main-color);
	color: black;
	box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
	margin-top: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;
}

.footer ul li a {
	color: white;
	border-bottom: 3px solid transparent;
	transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
	border-bottom: 3px solid var(--main-color);
}

.footer ul li {
	display: inline-block;
	padding: 0 15px;
}

.footer .copyright {
	margin-top: 50px;
	text-align: center;
	font-size: 16px;
	color: white;
}

@media(max-width: 1285px) {
	html {
		font-size: 50%;
	}
	.services-container {
		padding-bottom: 7rem;
		grid-template-columns: repeat(2, 1fr);
		margin: 0 5rem;
	}
}

@media(max-width: 991px) {
	.container {
		max-width: 750px;
		padding: 0 15px;
	}
	header {
		padding: 2rem 3%;
	}
	section {
		padding: 10rem 3% 2rem;
	}
	.timeline-item::before {
		left: 7px;
	}
	.timeline-item:nth-child(odd) {
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd), 
	.timeline-item:nth-child(even) {
		padding-left: 37px;
	}
	.timeline-dot {
		left: 0;
	}
	.services {
		padding-bottom: 7rem;
	}
	.contact form {
		flex-direction: column;
	}
	.footer {
		padding: 2rem 3%;
	}
}


@media(max-width: 895px) {
	#menuicon {
		display: block;
	}
	.navbar {
		position: absolute;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		backdrop-filter: blur(30px);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 150px;
		transition: all .6s ease;
	}
	.navbar .active {
		display: block;
	}
	.navbar a {
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
		color: white;
	}
	.navbar.open {
		right: 0;
	}
	.home {
		flex-direction: column-reverse;
		margin: 5rem 4rem;
	}
	.home-content {
		align-items: center;
		margin: 3rem 0;
	}
	.home-content h3 {
		font-size: 2.6rem;
	}
	.home-content h1 {
		font-size: 4rem;
		margin-top: 3rem;
	}
	.home-content p {
		max-width: 600px;
		margin: 0 auto;
	}
	.my-img img {
		width: 40vw;
	}
	.services h2 {
		margin-bottom: 3rem;
	}
	.services-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
